**Az első 5 feladat ismétlés (többtáblás lekérdezések) a tanulmányi adatbázisból**
1. Készítsünk listát arról, hogy melyik óra melyik teremben van!
    
    1. Jelenítsük meg az óra azonosítóját és a terem nevét!
    2. A listát szűrjük a 3 karakter hosszú, \[100;199\] zárt intervallumba eső termekre!(Feltesszük, hogy a 3 karakter hosszú terem nevek csak számjegyeket tartalmaznak)

In [ ]:
SELECT o.ora_id,
       t.Terem
FROM Orak o JOIN Termek t ON o.terem = t.Tkód
WHERE len(t.Terem) = 3 AND t.Terem BETWEEN '100' and '199'

2. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Hány óra van összesen az egyes napokon?</span>

1. Jelenítsük meg a napok nevét és az órák számát az adott napon!
2. Az oszlopokat nevezzük el értelemszerűen!
3. A listát rendezzük óraszám szerint növekvő sorrendbe!

In [ ]:
SELECT n.nap,
       count(*) AS 'Óraszám'
from orak o join Napok n on o.nap = n.nap_id
GROUP by n.nap
order by count(*)

3. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Készítsünk listát arról, hogy melyik oktatónak hány órája van az Órák táblában!</span>

1. A lista jelenítse meg az oktatók nevét, és az órák számát!
2. Az oszlopokat nevezzük el értelemszerűen!
3. A listából hagyjuk ki az óraadókat!

In [ ]:
select okt.nev AS 'Név', 
       count(*) AS 'Óraszám'
from Orak o JOIN Oktatok okt on o.tanar = okt.oktato_id
            join Beosztasok b on okt.beosztás = b.beosztas_id
where b.beosztasnev <> 'Óraadó'
group by okt.nev

4. <span style="color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Van-e olyan tantárgy, amelyből nincs óra?</span>

1. Jelentsük meg a tantárgy nevét és a tantárgyfelelős nevét!

In [ ]:
select t.Tantárgynév, 
       okt.nev
from Tantárgyak t left join Orak o on t.Tkód = o.targy
                  join Oktatok okt on t.Tantárgyfelelős = okt.oktato_id
where o.targy is null

5. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Hány óra van összesen a 120-as teremben?</span>

In [ ]:
SELECT count(*) AS 'Órák száma'
FROM Orak o join Termek t on o.terem = t.Tkód
WHERE t.Terem = '120'

**A 6-10 feladatokat halmazműveletek segítségével oldjuk meg, szintén a tanulmányi adatbázison**

6. <span style="background-color:rgb(255, 255, 255);color:rgb(36, 41, 47);font-family:-apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;;font-size:16px;font-weight:600;">Jelenítsük meg azon tanárok azonosítóját és nevét, akik hétfői vagy keddi napokon tanítanak!</span>

In [ ]:
SELECT okt.oktato_id AS 'Azonosító',
       okt.nev AS 'Név'
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar
                 JOIN Napok n ON o.nap = n.nap_id
WHERE n.nap = N'Hétfő'

UNION

SELECT okt.oktato_id,
       okt.nev
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar
                 JOIN Napok n ON o.nap = n.nap_id
WHERE n.nap = N'Kedd'

7. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Melyek azok a tantárgyak, amelyek esetén van óra a 8.00-kor kezdődő sávban, de nincs a 12.30-kor kezdődő sávban?</span>

In [ ]:
SELECT t.Tkód,
       t.Tantárgynév
FROM Tantárgyak t JOIN Orak o ON t.Tkód = o.targy
                  JOIN Savok s ON o.Sav = s.Sav_id
WHERE s.Időpont = '8.00'

EXCEPT

SELECT t.Tkód,
       t.Tantárgynév
FROM Tantárgyak t JOIN Orak o ON t.Tkód = o.targy
                  JOIN Savok s ON o.Sav = s.Sav_id
WHERE s.Időpont = '12.30'

8. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Listázzuk azokat a termeket, amelyekben oktat Kovács László és van olyan tanóra a teremben, ahol a tantárgy nevében nem szerepel az 'ürge' szó!</span>

In [ ]:
SELECT t.Terem
FROM Orak o JOIN Oktatok okt on o.tanar = okt.oktato_id
            JOIN Termek t ON o.terem = t.Tkód
WHERE okt.nev = 'Kovács László'

INTERSECT

SELECT tm.Terem
FROM Orak o JOIN Tantárgyak t ON o.targy = t.Tkód
            JOIN Termek tm ON o.terem = tm.Tkód
WHERE t.Tantárgynév NOT LIKE '%ürge%'

9. <span style="font-weight: 600; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px;">Készítsünk listát arról, hogy melyik tanárnak hány órája van a (munka) hét elején (hétfőn), hét közben (kedd, szerda és csütörtök), illetve a hét végén (péntek)!</span>

1. Jelenítsük meg a tanár azonosítóját, nevét, az időszakot (hét eleje - hét közben - hét vége), valamint az óraszámot!
2. A három megjelölt időszakot külön kérdezzük le, majd fűzzük össze a lekérdezések eredményeit!
3. Rendezzük a listát az oktató neve, azon belül időszak szerint!

In [ ]:
SELECT okt.oktato_id,
       okt.nev,
       CASE 
            WHEN n.nap = N'Hétfő' THEN 'Hét eleje'
            WHEN n.nap IN ('Kedd', 'Szerda', 'Csütörtök') THEN 'hét közepe'
            ELSE 'hét vége'
       END AS 'Időszak',
       COUNT(*)
FROM Oktatok okt JOIN Orak o ON okt.oktato_id = o.tanar
                 JOIN Napok n ON o.nap = n.nap_id
GROUP BY okt.oktato_id, 
         okt.nev,
         CASE 
            WHEN n.nap = N'Hétfő' THEN 'Hét eleje'
            WHEN n.nap IN ('Kedd', 'Szerda', 'Csütörtök') THEN 'hét közepe'
            ELSE 'hét vége'
         END
ORDER BY okt.oktato_id, okt.nev, 'Időszak'

10. <span style="background-color: rgb(255, 255, 255); color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-size: 16px; font-weight: 600;">Melyik napokon nincs órája Pelikán Józsefnek?</span>

In [ ]:
SELECT nap
FROM Napok 


EXCEPT

SELECT n.nap
FROM Orak ora JOIN Oktatok o ON ora.tanar = o.oktato_id
              JOIN Napok N on ora.nap = n.nap_id
WHERE o.nev='Pelikán József'

**A 11-15 feladatok gyakorlásra szolgálnak a közelgő zh-ra :-)**

11. _Készítsünk listát az oktatók adatairól!_

1. Az oktatók titulusa és neve összefűzve jelenjen meg, közöttük szóközzel!
2. Ha valakinek nincs titulusa, akkor csak a neve jelenjen meg, szóköz nélkül!
3. A listát rendezzük a beosztás kódja, azon belül a státusz kódja szerint növekvő sorrendbe!
4. Az oszlopokat nevezzük el értelemszerűen!

In [ ]:
SELECT oktato_id,
       IIF(titulus  IS NULL, nev, titulus + ' ' + nev) AS 'Oktató neve',
       beosztás AS 'Beosztás kódja',
       [status]  AS'Státusz kódja'
FROM Oktatok
ORDER BY beosztás, [status]

<span style="color: #09885a;">12</span>. Készítsünk listát, amely megmutatja, hogy összesen hány tantárgy van kreditenkénti csoportosításban!

  

A listából hagyjuk ki azokat a tételeket, ahol ez a darabszám <span style="color: #09885a;">1</span>!

A Folyami gáttan tantárgyat ne vegyük figyelembe!

A listát rendezzük darabszám szerint csökkenő sorrendbe!

Az oszlopokat nevezzük el értelemszerűen!

In [ ]:
SELECT kredit AS 'Kreditek száma', 
       COUNT(*) AS 'DB'
FROM Tantárgyak
WHERE Tantárgynév <> 'Folyami gáttan'
GROUP BY kredit
HAVING COUNT(*)<>1
ORDER BY DB DESC

13. _Készítsünk listát az oktatók nevéről, a beosztásuk alapján elvárt és a tényleges óraszámukról!_

1. Az oszlopok neve legyen 'Oktató neve', 'Elvárt óraszám' és 'Tényleges óraszám'
2. Szűrjük a listát azokra az oktatókra, ahol az elvárt és a tényleges óraszám azonos

In [ ]:
SELECT o.nev AS 'Oktató neve', 
                 b.elvart AS 'Elvárt óraszám', 
                 COUNT(*) AS 'Tényleges óraszám'
FROM Orak ora JOIN Oktatok o ON ora.tanar = o.oktato_id
			  JOIN Beosztasok b ON o.beosztás = b.beosztas_id
GROUP BY o.nev, b.elvart
HAVING COUNT(*) = b.elvart

14. _Készítsünk listát, amely megmutatja, hogy mely tantárgyból nincs óra egyáltalán!_

1. Csak a tantárgy neve jelenjen meg!

In [ ]:
SELECT t.Tantárgynév AS 'Tantárgynév'
FROM Tantárgyak t LEFT JOIN Orak o ON t.Tkód = o.targy
WHERE o.targy IS NULL

15. _Hány órájuk van az óraadóknak napi bontásban?_

1. Csak a napok nevét és az óraszámot jelenítsük meg!
2. Rendezzük a listát óraszám szerint növekvő sorrendbe!

In [ ]:
--A feladat a Beosztások táblát használva is megoldható
SELECT n.nap , 
       COUNT(*) AS 'Óraszám'
FROM Orak ora JOIN Oktatok o ON ora.tanar = o.oktato_id
              JOIN Napok n ON ora.nap = n.nap_id
			  JOIN statusok s on o.status = s.Skod
WHERE s.Status = 'Óraadó'
GROUP BY n.nap
ORDER BY 2